<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title ? ( '3lab: ' + current_page.data.title ) : ('3lab') %></title>
    <%= favicon_tag 'images/favicon.ico' %>
    <%= stylesheet_link_tag :style %>
    <%= javascript_include_tag :all %>
    <script type="text/javascript">/*<![CDATA[*/
    (function(u, t, c, s, r)
    { !t[c] && (t[c] = { projectId: '8e690f629f8af302204a71193f225a4c'}) && (r = u.createElement(s)) && (r.src = 'https://unamo.net/unamo.js') && (u.head.appendChild(r)); })
    (document, window, 'Unamo Session Recording', 'script');
    /*]]>*/</script>
  </head>

  <body class="<%= page_classes %>">
    <header id="top">
      <nav>
        <ul>
          <li><a href="http://github.com/3lab/3lab.github.io" target="_blank"><i class="fa fa-code"></i> Źródło</a></li>
          <li><a rel="nofollow" target="_blank" href="https://webchat.freenode.net/?channels=#3lab"><i class="fa fa-comments"></i> <strong>IRC</strong></a></li>
          <li><a href="http://slack.3lab.re/" target="_blank"><i class="fa fa-slack"></i>Slack</a></li>
          <li><a href="https://storage.3lab.re/" target="_blank"><i class="fa fa-archive"></i>Storage</a></li>
          <li><a href="https://sentry.3lab.re/" target="_blank"><i class="fa fa-area-chart"></i>Sentry</a></li>
        </ul>
      </nav>
      <h1><span>3</span>lab</h1>
      <h2>Tak.</h2>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="copyright"><strong>3lab</strong> &copy; 2017</div>
        <div class="menu">
          &laquo; Kontakt: <a rel="nofollow" target="_blank" href="https://webchat.freenode.net/?channels=#3lab">#<strong>3lab</strong></a> &raquo;
          &laquo; <a href="http://github.com/3lab/3lab.github.io" target="_blank"><strong>Źródło</strong></a> &raquo;
        </div>
      </div>
    </footer>
  </body>
</html>
