<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title ? ( '3lab: ' + current_page.data.title ) : ('3lab') %></title>
    <%= favicon_tag 'images/favicon.ico' %>
    <%= stylesheet_link_tag :style %>
    <%= javascript_include_tag :all %>
  </head>

  <header id="top">
    <h1><span>3</span>lab</h1>
    <h2>Tak.</h2>
  </header>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <footer>
    &laquo;Kontakt: <a rel="nofollow" target="_blank" href="https://webchat.freenode.net/?channels=#3lab">#<strong>3lab</strong></a>&raquo; &laquo; <a href="http://git.3lab.re/3lab/3lab.re" target="_blank"><strong>Źródło</strong></a> &raquo; &laquo; <a href="http://git.3lab.re/" target="_blank"><strong>Git</strong></a> &raquo;
  </footer>

</html>
