---
title: Napij się herbaty
---
<div id="content">
  <section id="about" class="max">
    <h1>O nas <a href="#">&raquo;</a></h1>
    <p>
      Jesteśmy zgrają programistów, hobbistów, graczy, a głównie - haktywistów, którzy lubią majsterkować, upraszczać sobie i innym życie, ale także gadać o niczym, śmieszkować i robić inby. Jesteśmy z Polski.
    </p>
  </section>
  <section id="projects">
    <h1>Nasze <a href="#">&raquo;</a></h1>
    <% projects.each do |project| %>
        <ul>
          <li><a href="<%= project.link %>">
            <%= image_tag("#{project.name}.png", :class => "thumb")  %>
            <h1><%= project.name %></h1>
            <p><%= project.description %></p>
          </a></li>
        </ul>
    <% end %>
  </section>
  <section id="members">
    <h1>My <a href="#">&raquo;</a></h1>
    <ul>
      <% members.each do |member| %>
          <a href="<%= member.homepage %>">
            <li>
            <%= image_tag "#{member.username}.png", :class => 'thumb' %>
            <h1>~<%= member.username %></h1>
            <p><%= member.description %></p></a>
            </li>
          </a>
      <% end %>
    </ul>
  </section>
  <section id="smth" class="max">
    <h1>Co możemy zaoferować? <a href="#">&raquo;</a></h1>
    <p>Znamy różne technologie, rózne rozwiązania. Nie udajemy profesjonalistów, jesteśmy po prostu ludźmi z internetu. Chętnie pogadamy, chętnie przejrzymy kod. Nie bój się zagadać ;-)!</p>
  </section>
</div>