---
title: Napij się herbaty
---
<div id="content" class="container">
  <div class="row">
    <section id="about" class="col-lg-12">
      <h1>O nas</h1>
      <p>
        Jesteśmy zgrają programistów, hobbistów, graczy, a głównie - haktywistów, którzy lubią majsterkować, upraszczać sobie i innym życie, ale także gadać o niczym, śmieszkować i robić inby. Jesteśmy z Polski.
      </p>
    </section>
  </div>
  <div class="row">
    <section id="projects" class="col-sm-12 col-md-6">
      <h1>Nasze</h1>
      <ul id="project-slider">
      <% projects.each do |project| %>
        <li>
          <div class="project">
            <span class="thumb" style="background-image: url('<%= image_path "#{project.name}.png" %>')">
              <span class="description">
                <span class="title"><%= project.name %></span>
                <%= project.description %>
              </span>
            </span>
          </div>
          <div class="actions">
            <% if project.link %><a href="<%= project.link %>" target="_blank"><i class="fa fa-eye"></i> Demo</a><% end %>
            <% if project.source %><a href="<%= project.source %>" target="_blank"><i class="fa fa-code"></i> Źródło</a><% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </section>
    <section id="members" class="col-sm-12 col-md-6">
      <h1>My</h1>
      <ul id="members-slider">
        <% members.each do |member| %>
              <li>
                <a href="<%= member.homepage %>" class="member" target="_blank">
                  <%= image_tag "#{member.username}.png", :class => 'avatar' %>
                  <span class="title">~<%= member.username %></span>
                  <span class="description"><%= member.description %></span>
                </a>
                <ul class="repositories">
                  <% member.repositories.each do |repo| %>
                    <li><a href="<%= repo %>"><i class="fa fa-code"></i> <%= repo %></a></li>
                  <% end %>
                </ul>
                <div class="actions">
                  <% if member.mail %><a href="#"><i class="fa fa-envelope"></i> <%= member.mail %></i></a><% end %>                  
                  <% if member.homepage %><a href="<%= member.homepage %>"><i class="fa fa-globe"></i> <%= member.homepage.gsub(/https?:\/\/(.*?)\//, '\1') %></i></a><% end %>                  
                  <a href="#" class="repo-toggle"><i class="fa fa-code"></i> Kod <i class="toggle fa fa-chevron-down"></i></a>                                        
                </div>
              </li>
        <% end %>
      </ul>
    </section>
  </div>
  <div class="row">
    <section id="smth" class="col-lg-12">
      <h1>Co możemy zaoferować?</h1>
      <p>Znamy różne technologie, rózne rozwiązania. Nie udajemy profesjonalistów, jesteśmy po prostu ludźmi z internetu. Chętnie pogadamy, chętnie przejrzymy kod. Nie bój się zagadać ;-)!</p>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
    var $projects = $('#project-slider');
    var $members  = $('#members-slider');

    $.fn.showRepos = function() {
      $members.goToSlide($(this).index() - 2);
      $members.pause();

      $(this).toggleClass('repos-shown', true);

      $(this).css('min-height', $(this).css('height'));
      $(this).css('height', 'auto');      

      $(this).find('.repositories').slideDown();

      $(this).find('.toggle').toggleClass('fa-chevron-down', false).toggleClass('fa-chevron-up', true)
    };

    $.fn.hideRepos = function() {
      $(this).toggleClass('repos-shown', false);
      $(this).find('.repositories').slideUp();
      
      $(this).css('height', $(this).css('min-height'));

      $(this).find('.toggle').toggleClass('fa-chevron-down', true).toggleClass('fa-chevron-up', false);

      $members.play();
      $members.goToPrevSlide();
    }

    $('#members .repo-toggle').click(function() {
      var show = !$(this).parent().parent().hasClass('repos-shown');
      $('.repos-shown').hideRepos();
      if(show) {
        $(this).parent().parent().showRepos();
      }
    });

    $members.lightSlider({ 
      vertical: true,
      verticalHeight: 400,
      item: 3,        
      loop: true,
      slideMove: 3,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:800,
      pause: 4500,
      auto: true,
      pauseOnHover: true,
    });

    $projects.lightSlider({ 
      vertical: true,
      verticalHeight: 400,
      item: 2,      
      loop: true,
      slideMove: 2,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:800,
      auto: true,
      pause: 4000,
      pauseOnHover: true,
    });
  });
</script>