---
title: Napij się herbaty
---
<div id="content" class="container">
  <div class="row">
    <section id="about" class="col-lg-12">
      <h1>O nas</h1>
      <p>
        3lab to kanał na IRC-u, społeczność w której skład wchodzą programiści, administratorzy oraz wszyscy inni związani z IT. Taki internetowy Hackerspace.
      </p>
    </section>
  </div>
  <div class="row">
    <section id="projects" class="col-sm-12 col-md-6">
      <h1>Nasze</h1>
      <ul id="project-slider">
      <% projects.each do |project| %>
        <li>
          <div class="project">
            <span class="thumb" style="background-image: url('<%= image_path "#{project.name}.png" %>')">
              <span class="description">
                <span class="title"><%= project.name %></span>
                <%= project.description %>
              </span>
            </span>
          </div>
          <div class="actions">
            <% if project.link %><a href="<%= project.link %>" target="_blank"><i class="fa fa-eye"></i> Demo</a><% end %>
            <% if project.source %><a href="<%= project.source %>" target="_blank"><i class="fa fa-code"></i> Źródło</a><% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </section>
    <section id="members" class="col-sm-12 col-md-6">
      <h1>My</h1>
      <ul id="members-slider">
        <% members.each do |member| %>
              <li>
                <a href="<%= member.homepage %>" class="member" target="_blank">
                  <%= image_tag "#{member.username}.png", :class => 'avatar' %>
                  <span class="title">~<%= member.username %></span>
                  <span class="description"><%= member.description %></span>
                </a>
                <ul class="repositories">
                  <% member.repositories.each do |repo| %>
                    <li><a href="<%= repo %>"><i class="fa fa-code"></i> <%= repo %></a></li>
                  <% end %>
                </ul>
                <div class="actions">
                  <% if member.mail %><a href="#"><i class="fa fa-envelope"></i> <%= member.mail %></a><% end %>
                  <% if member.homepage %><a href="<%= member.homepage %>"><i class="fa fa-globe"></i> <%= member.homepage.gsub(/https?:\/\/(.*?)\//, '\1') %></a><% end %>
                  <a href="#" class="repo-toggle"><i class="fa fa-code"></i> Kod <i class="toggle fa fa-chevron-down"></i></a>
                </div>
              </li>
        <% end %>
      </ul>
    </section>
  </div>
  <div class="row">
    <section class="col-lg-12">
      <h1>Kiedy warto podbić?</h1>
      <p><small>Jeśli jesteś programistą / zainteresowany technologią, szukasz lub masz projekt ale nie masz z kim go robić, jeśli chcesz pośmieszkować lub czegoś się nauczyć, jeśli szukasz kolejnego kanału IRC / slackteamu do kolekcji (a mamy bramkę irc <--> slack!), szukasz przestrzeni do rozwijania się -  to może warto. </small></p>
      <p><small>Dodatkowo, jeśli zostaniesz pełnoprawnym członkiem naszego nieformalnego stowarzyszenia, otrzymasz także dostęp do naszego stacku technologicznego.</small></p>
    </section>
  </div>
  <div class="row">
    <section class="col-lg-12">
      <h1>Jak podbić?</h1>
      <p><small>Główną formą kontaktu jest IRC - to taki internetowy czat. Możesz zalogować się bez rejestracji i z nami pisać. Weź pod uwagę to, że nie patrzymy w okienko 24/7, więc najlepiej, jesli wejdziesz, zadasz pytanie i poczekasz.</small></p>
      <p><small>Drugą formą kontaktu jest Slack, gdzie mamy ustawione lustrzane odbicie z IRCem - wiadomości na IRC-u pojawiają się na Slacku i vice versa. <strong>Aby uzyskać dostęp do Slacka - poproś o niego na IRC-u.</strong></small></p>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
    var $projects = $('#project-slider');
    var $members  = $('#members-slider');

    $.fn.showRepos = function() {
      $members.goToSlide($(this).index() - 2);
      $members.pause();

      $(this).toggleClass('repos-shown', true).css({
        'min-height': $(this).css('height'),
        'height':     'auto'
      });

      $(this).find('.repositories').slideDown();
      $(this).find('.toggle').toggleClass('fa-chevron-down', false).toggleClass('fa-chevron-up', true)
    };

    $.fn.hideRepos = function() {
      $(this).toggleClass('repos-shown', false);
      $(this).find('.repositories').slideUp();

      $(this).css('height', $(this).css('min-height'));

      $(this).find('.toggle').toggleClass('fa-chevron-down', true).toggleClass('fa-chevron-up', false);

      $members.play();
      $members.goToPrevSlide();
    }

    $members.lightSlider({
      vertical: true,
      verticalHeight: 400,
      item: 3,
      loop: true,
      slideMove: 3,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:800,
      pause: 4500,
      auto: true,
      pauseOnHover: true,
    });

    $projects.lightSlider({
      vertical: true,
      verticalHeight: 400,
      item: 2,
      loop: true,
      slideMove: 2,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:800,
      auto: true,
      pause: 4000,
      pauseOnHover: true,
      onSliderLoad: function() {
        $('#members .repo-toggle').click(function() {
          $element = $(this).parent().parent();
          if($element.hasClass('clone') && $element.hasClass('right')) {
            $element = $('#members .lslide').eq($element.index('#members-slider .clone.right'));
          }

          var show = !$element.hasClass('repos-shown');
          $('.repos-shown').hideRepos();
          if(show) {
            $element.showRepos();
          }

          $('.lSPager a').click(function() { $('.repos-shown').hideRepos(); })
        });
      }
    });
  });
</script>
