---
title: Napij się herbaty
---
<div id="content" class="container">
  <div class="row">
    <section id="about" class="col-lg-12">
      <h1>O nas</h1>
      <p>
        Jesteśmy zgrają programistów, hobbistów, graczy, a głównie - haktywistów, którzy lubią majsterkować, upraszczać sobie i innym życie, ale także gadać o niczym, śmieszkować i robić inby. Jesteśmy z Polski.
      </p>
    </section>
  </div>
  <div class="row">
    <section id="projects" class="col-sm-12 col-md-6">
      <h1>Nasze</h1>
      <ul id="project-slider">
      <% projects.each do |project| %>
        <li>
          <div class="project">
            <span class="thumb" style="background-image: url('<%= image_path "#{project.name}.png" %>')">
              <span class="description">
                <span class="title"><%= project.name %></span>
                <%= project.description %>
              </span>
            </span>
          </div>
          <div class="actions">
            <% if project.link %><a href="<%= project.link %>"><i class="fa fa-eye"></i> Demo</a><% end %>
            <% if project.source %><a href="<%= project.source %>"><i class="fa fa-code"></i> Źródło</a><% end %>
          </div>
        </li>
      <% end %>
      </ul>
    </section>
    <section id="members" class="col-sm-12 col-md-6">
      <h1>My</h1>
      <ul id="members-slider">
        <% members.each do |member| %>
              <li>
                <a href="<%= member.homepage %>" class="member">
                  <%= image_tag "#{member.username}.png", :class => 'avatar' %>
                  <span class="title">~<%= member.username %></span>
                  <span class="description"><%= member.description %></span>
                </a>
              </li>
        <% end %>
      </ul>
    </section>
  </div>
  <div class="row">
    <section id="smth" class="col-lg-12">
      <h1>Co możemy zaoferować?</h1>
      <p>Znamy różne technologie, rózne rozwiązania. Nie udajemy profesjonalistów, jesteśmy po prostu ludźmi z internetu. Chętnie pogadamy, chętnie przejrzymy kod. Nie bój się zagadać ;-)!</p>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#members-slider').lightSlider({ 
      vertical: true,
      verticalHeight: 400,
      item: 3,        
      loop: true,
      slideMove: 3,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:600
    });

    $('#project-slider').lightSlider({ 
      vertical: true,
      verticalHeight: 378,
      item: 2,      
      loop: true,
      slideMove: 2,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed:600
    });
  });
</script>