---
title: napij się herbaty
---
<header id="top">
  <h1><span>3</span>lab</h1>
  <h2>Our motto? Yes.</h2>
</header>
<div id="content">
  <section id="about" class="max">
    <h1>About us <a href="#">&raquo;</a></h1>
    <p>
      We are group of programmers, gamers, hobbyists and - mainly - hacktivists, who enjoy making things easier. All (or at least the most) of us are Poles.
    </p>
  </section>
  <section id="projects">
    <h1>Projects <a href="#">&raquo;</a></h1>
    <% @projects.each do |project| %>
        <ul>
          <li><a href="<%= project.reference %>">
            <%= image_tag("#{project.name}.png", :class => "thumb")  %>
            <h1><%= project.name %></h1>
            <p><%= project.description %></p>
          </a></li>
        </ul>
    <% end %>
  </section>
  <section id="members">
    <h1>Members <a href="#">&raquo;</a></h1>
    <ul>
      <% @members.each do |member| %>
          <a href="<%= member.homepage %>"><li>
            <% if File.exists?("#{@image_path}#{member.username}.png") %>
                <%= image_tag("#{member.username}.png", :class => "thumb") %>
            <% else %>
                <%= puts("No image available in #{@image_path}#{member.username}.png") %>
            <% end %>
            <h1>~<%= member.username %></h1>
            <p><%= member.description %></p></a>
          </li></a>
      <% end %>
    </ul>
  </section>
  <section id="smth" class="max">
    <h1>What can we offer <a href="#">&raquo;</a></h1>
    <p>Starting on great people, finishing on having fun with Rails!</p>
  </section>
</div>
<footer>
  Design made by one of our mates, Kadet. If any issues occur, contact #3lab at irc.Freenode.net
</footer>
